<!--The content below is only a placeholder and can be replaced.-->


<div class="bg-video container font-weight-bold ">
  <div class=" text-center welcome">
    <p>
      Welcome to {{title}} Demo
    </p>
  </div>
</div>

<div class="table-active card-body container">
  <div class="col">
    <div style="text-align:center; margin:0 auto; width:70%">
      <!--<h3>Welcome to {{title}}!!</h3>-->
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <!--<label class="control-label" for="Country">Country:</label>-->
              <select *ngIf="getCountries()" [(ngModel)]="selectedCountry" (change)="onSelectCountry($event.target.value)" class="form-control input-lg" id="country"
              >
                <option value="0">Select Country</option>
                <option *ngFor="let country of getCountries()" value= {{country.id}}>{{country.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <!--<label class="control-label" for="States">States:</label>-->
              <select *ngIf="states" [(ngModel)]="selectedState" (change)="onSelectState($event.target.value)" class="form-control input-lg" id="state">
                <option value="0">Select State</option>
                <option *ngFor="let state of states" value= {{state.id}}>{{state.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <!--<label class="control-label" for="City">City:</label>-->
              <select class="form-control input-lg" id="city">
                <option *ngIf="!selectedState" value="0">Select City</option>
                <option *ngFor="let city of cities" value= {{city.id}}>{{city.name}}</option>
              </select>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>
