/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
  background-color: #202224!important;
  /*background: url(assets/img/bg2.gif);*/
  background-size: cover;
}

.welcome{
  color: aliceblue;
  text-shadow: 3px 3px 3px #141515;
}

